{% extends 'base.html' %}
{% block content %}
  {% for message in get_flashed_messages() %}
        
  {% endfor %}
  <h1>BIENVENIDOS AL PROGRAMA DE MATRICULA 2022-I</h1>

  <center><p>En esta Pagina se podran Registrar los cursos, estudiantes y escuelas profesionales de la universidad</p></center><br>
  <center><p><img src="https://www.unamba.edu.pe/media/k2/items/cache/cd04214d115e7a754daa198b57282145_XL.jpg" alt=""></p><p><img src="http://sisacademico.unamba.edu.pe/bootstrap/img/2022-1/ampliacion_matricula.jpg" alt="" width="600" height="400"></p></center>

{% endblock %}